# ShellCheck: SC1091 – Not following: (error message here) https://www.shellcheck.net/wiki/SC1091
external-sources=true

# ShellCheck: SC3043 – In POSIX sh, `local` is undefined. https://www.shellcheck.net/wiki/SC3043
disable=SC3043
