settings.use_file_shell_for_executable_tasks = true
settings.windows_executable_extensions = [ "sh", "ps1", "py" ]
settings.unix_default_file_shell_args = "env"
settings.unix_default_inline_shell_args = "sh -c -o errexit"
settings.windows_default_file_shell_args = "env.exe"
settings.windows_default_inline_shell_args = "sh.exe -c -o errexit"

[tasks.inlined]
description = "Inlined task."
run = """
#!/usr/bin/env sh
echo "$PATH"
true
printf "e91516c %s\n" $((100 + 100))
false

. ./foo.lib

echo 0adb078
"""

[tasks."prev:doit2"]
description = 'prev:doit desc2'
run = '''
#!/usr/bin/env sh
. "$MISE_PROJECT_ROOT"/lib.sh/min.lib.sh
before_source "$MISE_PROJECT_ROOT"/lib.sh
. "$MISE_PROJECT_ROOT"/lib.sh/doit.lib.sh
after_source
cd "$1" || exit 1; shift 2

doit_sub2
'''

[task_config]
includes = [
  "mise-sh-tasks/*.toml",
  "mise-tasks"
]

[tasks."gen"]
description = "Generate."
depends = [
  "task-sh:gen",
]
