[settings]
use_file_shell_for_executable_tasks = true
windows_executable_extensions = [ "sh", "ps1", "py" ]
unix_default_file_shell_args = "env"
unix_default_inline_shell_args = "sh -c -o errexit"
windows_default_file_shell_args = "env.exe"
windows_default_inline_shell_args = "sh.exe -c -o errexit"

[env]
THE_VALUE = "mise-sh-tasks"

[tasks.inlined]
description = "Inlined task."
run = """
echo "$PATH"
true
printf "e91516c %s\n" $((100 + 100))
echo "843a408 {{ env.THE_VALUE }}"
false
echo 0adb078
"""

[tasks."prev:doit2"]
description = 'prev:doit desc2'
run = '''
#!/usr/bin/env sh
. "$MISE_PROJECT_ROOT"/lib.sh/min.lib.sh
before_source "$MISE_PROJECT_ROOT"/lib.sh
. "$MISE_PROJECT_ROOT"/lib.sh/doit.lib.sh
after_source
cd "$1" || exit 1; shift 2

doit_sub2
'''

[task_config]
includes = [
  "mise-sh-tasks/*.toml",
  "mise-tasks"
]

[tasks."gen"]
description = "Generate."
depends = [
  "task-sh:gen",
]
