["task-sh:gen"]
description = "Generate task-sh interface."
run = '''
#!/usr/bin/env sh
cd ./mise-sh-tasks
rm -f gen-*.toml
awk \
  '
    /^#/ { 
      desc = $0
      gsub(/^#+[ ]*/, "", desc)
      next
    }
    /^(task_|subcmd_)[[:alnum:]_]()/ {
      func_name = $1
      sub(/\(\).*$/, "", func_name)
      type = func_name
      sub(/_.*$/, "", type)
      name = func_name
      sub(/^[^_]+_/, "", name)
      gsub(/__/, ":", name)
      basename = FILENAME
      sub(/^.*\//, "", basename)
      print type " " name " " func_name " " basename " " desc
      desc = ""
      next
    }
    {
      desc = ""
    }
  ' \
  *.lib.sh \
| while read -r type name func_name basename desc
do
  if ! test -r "gen-$basename.toml"
  then
    echo "# Generated" >"gen-$basename.toml"
  fi
  (
    echo
    echo "[\"$name\"]"
    echo "description = \"$desc\""
    echo "run = \"\"\""
    cat <<EOF
#!/usr/bin/env sh
set -- "\$PWD" "\$@"
cd "\$MISE_PROJECT_ROOT"/mise-sh-tasks
. "$basename"
cd "\$1"
shift
"$func_name" "\$@"
EOF
    echo "\"\"\""
  ) >>"gen-$basename.toml"
done
cd ..
'''
