---
import { GreetComponent } from 'components/GreetComponent';

// // VSCode plugin generates an error when the capitalized name of the filename is used as an indentifier. I do not know why. 
// function Greet() {
//   return 123;
// }
---
<main>
  <GreetComponent client:load />
</main>
